*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
    /* overflow-x: hidden; */

}

@keyframes translate {
    0%{transform:translateY(0)}
    100%{transform:translateY(8px)}
}

.active{
    /* justify-self: center; */
    /* background: rgba(45, 45, 121, 0.705); */
    /* padding: 0.8em 1.4em; */
    transition-duration: 0.5s !important;
  transition-timing-function: ease !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    /* background-color: rgba(131, 7, 168, 0.61) !important ; */
    color: rgb(255, 255, 255) !important;
    /* color:red; */
    /* border: 2px solid rgba(255, 255, 255, 0) !important; */
}
@media screen and (max-width: 992px) {
    .active{
        text-align: center;
        width: 100vw !important;
        border-radius: 0px !important;
        transition-duration: 0.5s !important;
        transition-timing-function: ease !important;
    }
    
}